
.title_bar {
    background-color: #eeeeee;
    width: 100%;
}

.titlebar, h1 {
    text-align: center;
}

.action_bar {
    background-color: rgb(254, 208, 115);
    padding: 3px;
    width: 100%;
}

/* ========== */

body {
    margin: 100;
    font-family: Arial;
}

table {
    width: 95%;
    padding: 3px;
    border-collapse: collapse;
}
    
table, th, td {
    border: 2px solid black;
}

/* ========== */

.rqjob_status_None {
    /* blank */
}

.rqjob_status_waiting {
    background-color: #ffff99;
}

.rqjob_status_running {
    background-color: #b3e0ff;
}

.rqjob_status_done {
    background-color: #e6ffcc;
}

.rqjob_status_error {
    background-color: #ffc2b3;
}
