{% extends 'templates/base_form.html' %}

{% block body_form %}

<div class="content">
  <h1>Occupied Space Selected Space Type</h1>

  <div class = "form">
    <form action="/occupied_space_selected_space_type/create" method="POST">
      {{ form.csrf_token }}
      {% include 'templates/view_creator_form_elements.html' %}

      <br> {{ form.scenario_policy.label }}:   {{ form.scenario_policy() }}
      <br> {{ form.scenario_ref.label }}:      {{ form.scenario_ref() }}

      <br> {{ form.year_start.label }}: {{form.year_start(size=4)}}
      <br> {{ form.year_end.label }}:   {{form.year_end(size=4)}}

      <br> {{ form.commodities.label }}: {{form.commodities(size=200)}}

      <br> {{ form.button }}
    </form>
  </div>
</div>

{% endblock %}
