{% extends 'templates/base_form.html' %}

{% block body_form %}

<div class="content">
  <h1>Occupied Space All Space Type</h1>

  The SQL was changed - Use "Occupied Space for Selected Space Type"
  as that is a better name.
  This was left here so the old data can still be seen.
  This page and the data will be removed after we are done with it.

  <div class = "form">
    <form action="/occupied_space_all_space_type/create" method="POST">
      {{ form.csrf_token }}
      {% include 'templates/view_creator_form_elements.html' %}

      <br> {{ form.scenario_policy.label }}:   {{ form.scenario_policy() }}
      <br> {{ form.scenario_ref.label }}:      {{ form.scenario_ref() }}

      <br> {{ form.year_start.label }}: {{form.year_start(size=4)}}
      <br> {{ form.year_end.label }}:   {{form.year_end(size=4)}}

      <br> {{ form.commodities.label }}: {{form.commodities(size=200)}}

      <br> {{ form.button }}
    </form>
  </div>
</div>

{% endblock %}
