{% extends 'templates/base.html' %}

{% block head %}

{% endblock %}


{% block body %}

{% if message_ok %}
<h2>{{message_ok}}</h2>
{% endif %}
{% if message_err %}
<h2 style="color: red;">{{message_err}}</h2>
{% endif %}

<div class="content">
	<h1>Zonal Make Use comparison for a year grouped by activity</h1>

	<div class = "form">
	 <form action="/zonal_make_use_for_year_by_activity/create" method="POST">

	  {{ form.csrf_token }}
		{% include 'templates/view_creator_form_elements.html' %}
		<br> {{ form.year.label }}: {{form.year(size=4)}}
		<br> {{ form.scenario1.label }}: {{ form.scenario1() }}
		<br> {{ form.scenario2.label }}: {{ form.scenario2() }}
		<br> {{ form.moru.label }}: {{ form.moru() }}
		<br> {{ form.typename.label }}: {{ form.typename() }}
		<br> {{ form.activity_list.label }}: {{ form.activity_list(size = 1000) }}
		<br> {{ form.commodity_list.label }}: {{ form.commodity_list(size = 1000) }}
		<br> {{ form.button }}
	</form>
</div>



{% endblock %}
