{% extends 'templates/base_form.html' %}

{% block body_form %}

<div class="content">
  <h1>Employment Comparison by TAZ</h1>

  <div class = "form">
    <form action="{{url_for('employment_comparison_by_taz_create')}}" method="POST">

      {{ form.csrf_token }}

      {% include 'templates/view_creator_form_elements.html' %}

      <h3>View info:</h3>

      {{ form.scenario_policy.label }}:   {{ form.scenario_policy() }}
      <br>

      {{ form.scenario_ref.label }}:      {{ form.scenario_ref() }}
      <br>

      {{ form.year_start.label }}: {{form.year_start(size=4)}}
      <br>

      {{ form.year_end.label }}:   {{form.year_end(size=4)}}
      <br>

      {{ form.naics_list.label }}: {{form.naics_list(size=200)}}
      <br>
      <i>(comma seperated list, or blank for all)</i>
      <br>
      
      {{ form.button }}

    </form>
  </div>
</div>

{% endblock %}
