{% extends 'templates/base_form.html' %}

{% block body_form %}
<div class="content">
  <h1>Population Comparison over years by LUZ</h1>

  <i>NOTE: If you only want a single scenario, compare the scenario with itself.</i>

  <div class="form">
    <form action="/population_comparison_by_luz/create" method="POST">

      {{ form.csrf_token }}
      {% include 'templates/view_creator_form_elements.html' %}

      <h3>Pop Query</h3>

      {{ form.scenario_policy.label }}: {{ form.scenario_policy() }}
      <br>

      {{ form.scenario_ref.label }}: {{ form.scenario_ref() }}
      <br>

      {{ form.year_start.label }}: {{form.year_start(size=4)}}
      <br>

      {{ form.year_end.label }}: {{form.year_end(size=4)}}
      <br>

      {{ form.button }}

    </form>
  </div>
</div>

{% endblock %}
