{% extends 'templates/base_form.html' %}

{% block body_form %}
<div class="content">
  <h1>Population Comparison against BAP Scenario by LUZ</h1>

  <div class="form">
    <form action="/population_comparison_bap/create" method="POST">

      {{ form.csrf_token }}
      {% include 'templates/view_creator_form_elements.html' %}

      <h3>Population Query</h3>

      {{ form.scenario_policy.label }}: {{ form.scenario_policy() }}
      <br>

      {{ form.year_start.label }}: {{form.year_start(size=4)}}
      <br>

      {{ form.year_end.label }}: {{form.year_end(size=4)}}
      <br>

      {{ form.year_comparison.label }}: {{form.year_comparison(size=4)}}
      <br>

      {{ form.button }}

    </form>
  </div>
</div>

{% endblock %}
