{% extends 'templates/base.html' %}

{% block head %}

{% endblock %}


{% block body %}

{% if message_ok %}
<h2>{{message_ok}}</h2>
{% endif %}
{% if message_err %}
<h2 style="color: red;">{{message_err}}</h2>
{% endif %}

<div class="content">
	<h1>Employment By NAICSTask</h1>

	<div class = "form">
	 <form action="/employment_by_naics/create" method="POST">

	  {{ form.csrf_token }}
		{% include 'templates/view_creator_form_elements.html' %}
		<br> {{ form.year.label }}: {{form.year(size=4)}}
		<br> {{ form.scenario.label }}: {{ form.scenario() }}
		<br> {{ form.button }}
	</form>
</div>



{% endblock %}
