{% extends 'templates/base.html' %}

{% block body %}

{{ super() }}

{% if message_ok %}
<h2>{{message_ok}}</h2>
{% endif %}
{% if message_err %}
<h2 style="color: red;">{{message_err}}</h2>
{% endif %}

{# ##### #}
{% block body_form %}
{% endblock %}
{# ##### #}

<p>
<hr>
<p>
<b>Notes:</b>

<ul>

<li><i>After clicking the button, give the system a
couple of minutes to work - There can be a lot of data in
these views.</i>

<li><i>Sometimes the views are created in the DB, but not listed on the Views page.
Check the "mapit2_views" schema.
<a href="http://pgadmin4.office.hbaspecto.com/">http://pgadmin4.office.hbaspecto.com/</a></i>

</ul>

{% endblock %}
