<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport">
  <meta content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" http-equiv="x-ua-compatible">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="title_bar">
    <h1>Mapit 2.0</h1>
    <a href="{{url_for('index')}}">Views</a>
    | 
    <a href="{{url_for('index')}}">(Refresh)</a>
    | 
    <a href="{{url_for('new_view_selector')}}">Create new view</a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <a href="http://docs.office.hbaspecto.com/mapit_2.0/" target="_blank">Docs<a/>
    |
    <a href="http://jenkins-2.office.hbaspecto.com/job/mapit_2.0" target="_blank">Jenkins</a>
    |
    <a href="https://bitbucket.org/hbaspecto/mapit_2.0" target="_blank">Repo</a>
    |
    <a href="http://pgadmin4.office.hbaspecto.com/browser/" target="_blank">PgAdmin4</a>
  </div>
  <p>
    {% block body %}
    {% endblock %}
</body>
</html>
