{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<div class="content">
	<h1 style="text-align: center">Task Master</h1>

	{% if tasks|length < 1 %}
	<h4> There are no tasks, create one below </h4>
	{% else %}
	<table>
		<tr>
			<th>Task</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
		<tr>
			<td>{{ task.content }}</td>
			<td>{{ task.date_created.date() }}</td>
			<td>
				<a href="/flask-tutorial/delete/{{task.id}}">Delete</a>
				<br>
				<a href="/flask-tutorial/update/{{task.id}}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>

<form action="/flask-tutorial" method="POST">
	<input type="text" name="content" id="content">
	<input type="submit" value="Add Task">
</form>


{% endblock %}
