{% extends 'templates/base.html' %}

{% block head %}
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.3.1.js">
  </script>
{% endblock %}

{#####}

{% block body %}

  <div class="action_bar">
    <form
      id="refresh_form"
      action="{{url_for('index')}}"
      method="POST">
      Refresh page: {{ form.refresh_sec() }}
    </form>
  </div>

  {#####}

  <p></p>

  {% if items|length < 1 %}
    <h4> There are no views </h4>
  {% else %}
    <table>
      <tr>
        <th style='width: 2em;'>Id</th>
        <th>View</th>
        <th style='width: 6em;'>Added</th>
        <th>Type</th>
        <th>Description</th>
        <th>By</th>
        <th>Actions</th>
      </tr>
      {% for item in items %}
        <tr class="rqjob_status_{{item.rqjob_status|default('None',true)}}">
          <td style='text-align: center;'>
            {{ item.id }}
          </td>
          <td>
            {{ item.data_view_name | default('???',true) }}
          </td>
          <td style='text-align: center;'>
            {{ item.date_created.date() | default('???',true) }}
          </td>
          <td>
            {{ item.type | default('???',true) }}
          </td>
          <td>
            {{ item.description_field | default('???',true) }}
            {% if item.rqjob_status != "done" and item.rqjob_message %}
              <br>
              {{item.rqjob_message}}
            {% endif %}
          </td>
          <td>{{ item.created_by }}</td>
          <td>
	    <a href="{{url_for('view_page_generic',id=item.id)}}">View</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}


  {# ########## #}
  <p>
    <hr>
  <p>

    <h4>Legend:</h4>

    <table>
      <tr class="rqjob_status_waiting">
        <td>Waiting to run.</td>
      </tr>
      <tr class="rqjob_status_running">
        <td>Is running to create views.</td>
      </tr>
      <tr class="rqjob_status_done">
        <td>Finished without error.</td>
      </tr>
      <tr class="rqjob_status_error">
        <td>Finished with an error. (see internal logs for message.)</td>
      </tr>
      <tr class="rqjob_status_None">
        <td>Status is none/unset.</td>
      </tr>
    </table>

    <script>
      $(document).ready(function () {
      function do_refresh() {
      $("#refresh_form").submit();
      }
      // submit when changed.
      $("#refresh_freq").change(function() {
      do_refresh();
      });
      //
      var refresh_freq = parseInt($("#refresh_freq").val());
      if (0<refresh_freq) {
      setInterval(do_refresh,refresh_freq*1000);
      }
      });
                          </script>


{% endblock %}

{# Local Variables: #}
{# mode: jinja2 #}
{# End: #}
