{% extends 'templates/base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h3>Chose a mapit to create:</h3>
<p>

  {% for category,item_lst in DEFINED_PAGES_BY_CATEGORY %}
  <b>{{category}}</b>
  <ul>
    {% for item in item_lst %}
    <li> 
      {% if item['func'] %}
      <a href="{{url_for(item['func'])}}">{{ item['title'] }}</a> 
      {% else %}
      {{item['title']}} (todo!)
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <p>
  {% endfor %}

<p>
<button onclick="goBack();">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
