{% extends 'templates/base.html' %}

{% block head %}
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.3.1.js">
  </script>
{% endblock %}

{#####}

{% block body %}

  <h2>Table Info</h2>
  
  <table style="width:100%;padding:5px;">
    <tr style="text-align:left;">
      <th style="width:25%;background-color:#ccc;">Key</th>
      <th>Value</th>
    </tr>
    {% for key,val in keyval_lst %}
      <tr>
        <td style="padding:5px;background-color:#ccc;">{{key}}</td>
        <td style="padding:5px;">{{val}}</td>
      </tr>
    {% endfor %}
  </table>

  <br/>
  <hr>
  <br/>

  {#####}

  <h3>MapQgsFiles</h3>

  <!-- @TODO: This is the correct order -->
  <pre>
    Form with QGS options here.
    Some options like:

    Ref:     Put name here
    Policy:  Put name here
    Diff:    Put name here
    - Numer of divisions: __ (defaults to 10)
    - Colors:
    -    -Max:   Red      (user over-ride, or default)
    -    Zero:   White
    -    +Max:   Green
  </pre>

  {% if message_ok %}<h3>{{message_ok}}</h3>{% endif %}
  {% if message_err %}<h3>{{message_err}}</h3>{% endif %}

  <form 
    action="{{url_for('view_page_generic',id=mapview.id)}}"
    method="POST"
    style="background-color:#eee">

    {{ form.csrf_token }}

    <table>
      <tr>
        <td>
          {{form.file_name.label}}
          <br>
          <i>(Will be the downloaded name. Change if needed.)</i>
        </td>
        <td>{{form.file_name}}</td>
      </tr>
      <tr>
        <td>
          {{form.qgs_template.label}}
        </td>
        <td>
          {% if form.qgs_template.data %}
            {{form.qgs_template}}
          {% else %}
            <p>
              No QGS templates found.
              <p>
            {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          {{form.range_divisions.label}}
          <br>
          <i>(Odd number recommended.)</i>
        </td>
        <td>{{form.range_divisions}}</td>
      </tr>
      <tr>
        <td>
          {{form.range_min.label}}
          <br>
          <i>(The max value of the color plot. Defaults from SQL.)</i>
        </td>
        <td>
          {{form.range_min}}
          <br>
        </td>
      </tr>
      <tr>
        <td>{{form.range_max.label}}</td>
        <td>{{form.range_max}}</td>
      </tr>
      <tr>
        <td>
          {{form.barchart_value_max.label}}
          <br>
          <i>(The max value on the barcharts.)</i>
        </td>
        <td>{{form.barchart_value_max}}</td>
      </tr>
      <tr>
        <td>
          {{form.barchart_height.label}}
          <br>
          <i>(How tall the barcharts should be drawn.)</i>
        </td>
        <td>{{form.barchart_height}}</td>
      </tr>
      <tr>
        <td>
          {{form.barchart_width.label}}
          <br>
          <i>(How wide the lines are.)</i>
        </td>
        <td>{{form.barchart_width}}</td>
      </tr>
      <tr>
        <td>
          {{form.barchart_year_steps.label}}
          <br>
          <i>(Steps between years in barchart.) TODO!</i>
        </td>
        <td>{{form.barchart_year_steps}}</td>
      </tr>
      <tr>
        <td>
          {{form.round_mode.label}}
          <br>
          <i>(How to round the values: num of digits, or log-like steps.)</i>
        </td>
        <td>{{form.round_mode}}</td>
      </tr>
    </table>
    {{form.button}}
  </form>

  <i>Creation takes a couple of minutes. Refresh the page, until it appears below.</i>
  
  <p></p>

  Available Files: 
  <a href="{{url_for('view_page_generic',id=mapview.id)}}">(Refresh)</a>
  <table>
    <tr>
      <th>Id</th>
      <th>Filename</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
    {% for mapqgsfile in mapview.mapqgsfiles %}
      <tr class="rqjob_status_{{mapqgsfile.rqjob_status|default('None',true)}}">
        <td>
          {{mapqgsfile.id}}
        </td>
        <td>
          {{mapqgsfile.file_name}}
          &nbsp;&nbsp;&nbsp;(
          {%- for site in QGS_SITE_INFO_LIST -%}
            <a href="{{url_for('mapqgsfile_download',id=mapqgsfile.id,site_name=site["site_name"])}}">{{site["site_name"]}}</a>;&nbsp;
          {%- endfor -%}
          )
          {#
          {% if mapqgsfile.rqjob_status %}
            <br>{{mapqgsfile.rqjob_status}}
          {%endif%}
          #}
          {% if mapqgsfile.rqjob_message %}
            <br>{{mapqgsfile.rqjob_message}}
          {% endif %}
        </td>
        <td>
          {{mapqgsfile.file_create_time.strftime('%Y-%m-%d %H:%M')|default('???',True)}}
        </td>
        <td>
          WebView<br>
          <a href="{{url_for('mapqgsfile_delete',id=mapqgsfile.id)}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <br/>
  <hr>
  <br/>

  <h3>CSV (todo!)</h3>

  <br/>
  <hr>
  <br/>

  <h3>ShapeFile download (todo!)</h3>

{% endblock %}

{# Local Variables: #}
{# mode: jinja2 #}
{# End: #}
