<h3>General info:</h3>

{{ form.date_to_expire.label }}: {{ form.date_to_expire() }}
<br> 
{{ form.created_by.label }}: {{ form.created_by() }}
<br>
{{ form.db_connection_string.label }}: {{ form.db_connection_string(size = 100) }}
<br>
{{ form.schema_for_views.label }}: {{ form.schema_for_views(size = 30) }}
<br>
{{ form.description_field.label }}: {{ form.description_field(size = 200) }}
<br>
